<div class="heading">
  <h3>OUR PROJECTS</h3>
</div>
<div class="topContents">
  <div class="flexDisplay">
    <img src="../../assets/RESIDENTIAL.png" alt="" />
    <p class="nameOfProj">RESIDENTIAL</p>
  </div>
  <div class="flexDisplay">
    <img src="../../assets/COMMERCIAL.png" alt="" />
    <p class="nameOfProj">COMMERCIAL</p>
  </div>
</div>
<div class="bottomContents">
  <div class="bottomContentsFlex">
    <div class="card">
      <img src="../../assets/Property-Name1.png" class="propImages" alt="" />
      <div class="flex">
        <h4 class="propertName">Property Name</h4>
        <div class="location">
          <span class="gps"
            ><img
              height="81%"
              src="https://img.icons8.com/material-rounded/24/000000/marker.png"
          /></span>
          <span class="locName">Noida , UP</span>
        </div>
      </div>
      <div class="flex propSizes">
        <div class="sizes">3 BHK</div>
        <div class="sizes align">1450 Sq. Ft.</div>
        <div class="sizes align">2 Baths</div>
        <div class="sizes align knowMore">KNOW MORE</div>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/Property-Name-2.png" class="propImages" alt="" />
      <div class="flex">
        <h4 class="propertName">Property Name</h4>
        <div class="location">
          <span class="gps"
            ><img
              height="81%"
              src="https://img.icons8.com/material-rounded/24/000000/marker.png"
          /></span>
          <span class="locName">Noida , UP</span>
        </div>
      </div>
      <div class="flex propSizes">
        <div class="sizes">3 BHK</div>
        <div class="sizes align">1450 Sq. Ft.</div>
        <div class="sizes align">2 Baths</div>
        <div class="sizes align knowMore">KNOW MORE</div>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/Property-Name-3.png" class="propImages" alt="" />
      <div class="flex">
        <h4 class="propertName">Property Name</h4>
        <div class="location">
          <span class="gps"
            ><img
              height="81%"
              src="https://img.icons8.com/material-rounded/24/000000/marker.png"
          /></span>
          <span class="locName">Noida , UP</span>
        </div>
      </div>
      <div class="flex propSizes">
        <div class="sizes">3 BHK</div>
        <div class="sizes align">1450 Sq. Ft.</div>
        <div class="sizes align">2 Baths</div>
        <div class="sizes align knowMore">KNOW MORE</div>
      </div>
    </div>
    <div style="margin-top: 5%; margin-left: 2%">
      <svg
        width="50"
        height="24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
        />
      </svg>
    </div>
  </div>
  <div class="bottomSecondContentsFlex">
    <div class="card">
      <img src="../../assets/Property-Name1.png" class="propImages" alt="" />
      <div class="flex">
        <h4 class="propertName">Property Name</h4>
        <div class="location">
          <span class="gps"
            ><img
              height="81%"
              src="https://img.icons8.com/material-rounded/24/000000/marker.png"
          /></span>
          <span class="locName">Noida , UP</span>
        </div>
      </div>
      <div class="flex propSizes">
        <div class="sizes">3 BHK</div>
        <div class="sizes align">1450 Sq. Ft.</div>
        <div class="sizes align">2 Baths</div>
        <div class="sizes align knowMore">KNOW MORE</div>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/Property-Name-2.png" class="propImages" alt="" />
      <div class="flex">
        <h4 class="propertName">Property Name</h4>
        <div class="location">
          <span class="gps"
            ><img
              height="81%"
              src="https://img.icons8.com/material-rounded/24/000000/marker.png"
          /></span>
          <span class="locName">Noida , UP</span>
        </div>
      </div>
      <div class="flex propSizes">
        <div class="sizes">3 BHK</div>
        <div class="sizes align">1450 Sq. Ft.</div>
        <div class="sizes align">2 Baths</div>
        <div class="sizes align knowMore">KNOW MORE</div>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/Property-Name-3.png" class="propImages" alt="" />
      <div class="flex">
        <h4 class="propertName">Property Name</h4>
        <div class="location">
          <span class="gps"
            ><img
              height="81%"
              src="https://img.icons8.com/material-rounded/24/000000/marker.png"
          /></span>
          <span class="locName">Noida , UP</span>
        </div>
      </div>
      <div class="flex propSizes">
        <div class="sizes">3 BHK</div>
        <div class="sizes align">1450 Sq. Ft.</div>
        <div class="sizes align">2 Baths</div>
        <div class="sizes align knowMore">KNOW MORE</div>
      </div>
    </div>
    <div style="margin-top: 5%; margin-left: 2%">
      <svg
        width="50"
        height="24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
        />
      </svg>
    </div>
  </div>
</div>
