<div class="background">
  <div class="content">
    <fieldset class="fieldset">
      <legend class="legend">
        OUR PARTNERS <span class="legend2">BECOME OUR PARTNER</span>
      </legend>
      <div class="flex">
        <div style="margin-top: 5%; margin-left: 2%">
          <img
            src="https://img.icons8.com/ios-glyphs/30/000000/long-arrow-left.png"
          />
        </div>
        <div>
          <p>Company Name</p>
          <p>Company Name</p>
          <p>Company Name</p>
        </div>
        <div>
          <p>Company Name</p>
          <p>Company Name</p>
          <p>Company Name</p>
        </div>
        <div>
          <p>Company Name</p>
          <p>Company Name</p>
          <p>Company Name</p>
        </div>
        <div style="margin-top: 5%; margin-left: 2%">
          <img
            src="https://img.icons8.com/ios-glyphs/30/000000/long-arrow-right.png"
          />
        </div>
      </div>
    </fieldset>
    <div class="broker">BROKER <strong>|</strong> DEVELOPER</div>
  </div>
</div>
