<div class="heading">
  <h3>ONE STOP REAL ESTATE DESTINATION</h3>
</div>
<div class="content">
  <div class="innercontent">
    <img src="../../assets/Home-Loan.png" alt="home loan" />
    <p style="margin-top: 19%">Home Loan</p>
  </div>
  <div class="innercontent">
    <img
      src="../../assets/Tie-ups-with-Reputed-Developers.png"
      alt="home loan"
    />
    <p>Tie-ups with Reputed Developers</p>
  </div>
  <div class="innercontent">
    <img src="../../assets/Expreienced-Legal-Team.png" alt="home loan" />
    <p>Expreienced Legal Team</p>
  </div>
  <div class="innercontent">
    <img src="../../assets/End-to-End-Sercices.png" alt="home loan" />
    <p>End to End Sercices</p>
  </div>
  <div class="innercontent">
    <img src="../../assets/Dedicated-Personal.png" alt="home loan" />
    <p>Dedicated Personal</p>
  </div>
  <div style="margin-top: 2%; margin-left: 2%">
    <svg
      width="50"
      height="24"
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      clip-rule="evenodd"
    >
      <path
        d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
      />
    </svg>
  </div>
</div>
