<div class="background">
  <div class="heading">
    <h1>“Real Estate <strong>Simplified</strong>”</h1>
  </div>
  <div class="otherInfo">
    <div class="typesOfInfo">
      <img src="../../assets/RESIDENTIAL.png" alt="" />
      <p class="nameOfProp">RESIDENTIAL</p>
    </div>
    <div class="typesOfInfo">
      <img src="../../assets/COMMERCIAL.png" alt="" />
      <p class="nameOfProp">COMMERCIAL</p>
    </div>
    <div class="typesOfInfo">
      <img src="../../assets/INVESTMENT-icon.png" alt="" />
      <p class="nameOfProp">INVESTMENT</p>
    </div>
  </div>
  <div class="interaction">
    <div class="curveBorder">
      <div>
        <img
          src="../../assets/phone-call-svgrepo-com.svg"
          alt="callBack"
          style="height: 21px; width: 21px; padding: 2px 5px 0px 8px"
        />
      </div>
      <div class="text">REQUEST A <strong>CALL BACK</strong> FROM US</div>
    </div>

    <div class="curveBorder">
      <div>
        <img
          src="../../assets/search-svgrepo-com.svg"
          alt="callBack"
          style="
            height: 21px;
            width: 21px;
            padding: 2px 5px 0px 8px;
            border-right: 2px solid black;
          "
        />
      </div>
      <input type="text" style="width: 85%; padding-left: 2px" />
    </div>
  </div>
</div>
