<header>
  <nav class="navigation">
    <div><img src="../assets/logo.jpg" alt="" /></div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="white"
      >
        <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
      </svg>
    </div>
  </nav>
</header>

<section>
  <app-info></app-info>
  <app-destination></app-destination>
  <app-expert></app-expert>
  <app-blog></app-blog>
  <app-projects></app-projects>
  <app-testimonials></app-testimonials>
  <app-partner></app-partner>
</section>

<footer class="footer">
  <app-footer></app-footer>
</footer>
