<div class="heading">
  <h2>OUR BLOG</h2>
</div>
<div style="padding: 5%; margin-left: 15%">
  <div style="display: flex">
    <div>
      <img src="../../assets/Property-Name-2.png" alt="" />
      <h2>
        NEW HOME <br />
        BUYER TIPS
      </h2>
    </div>
    <div class="tipsPadding">
      <img src="../../assets/Property-Name-2.png" alt="" />
      <h2>VASTU TIPS</h2>
    </div>
    <div class="tipsPadding">
      <img src="../../assets/Property-Name-2.png" alt="" />
      <h2>HOME DECOR <br />TIPS</h2>
    </div>
    <div class="tipsPadding">
      <img src="../../assets/Property-Name-2.png" alt="" />
      <h2>LEGAL TIPS</h2>
    </div>
  </div>
  <div style="display: flex; padding-top: 4%">
    <div>
      <img src="../../assets/Property-Name-2.png" alt="" />
      <h2>
        REAL ESTATE <br />
        NEWS
      </h2>
    </div>
    <div class="tipsPadding">
      <img src="../../assets/Property-Name-2.png" alt="" />
      <h2>QUESTION <br />- ANSWER</h2>
    </div>
    <div class="tipsPadding">
      <img src="../../assets/Property-Name-2.png" alt="" />
      <h2>VASTU-TIPS</h2>
    </div>
    <div class="tipsPadding">
      <img src="../../assets/Property-Name-2.png" alt="" />
      <h2>
        NEW HOME <br />
        BUYER TIPS
      </h2>
    </div>
  </div>
</div>
