<div class="background">
  <div class="heading">
    <h3>TESTIMONIALS</h3>
  </div>
  <div class="bottomVideos">
    <div class="videos">
      <video controls width="250">
        <source
          src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm"
          type="video/webm"
        />

        <source
          src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm"
          type="video/mp4"
        />

        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>

    <div class="videos">
      <video controls width="250">
        <source src="../../assets/flower.webm" type="video/webm" />

        <source src="../../assets/flower.webm" type="video/mp4" />

        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>

    <div class="videos">
      <video controls width="250">
        <source src="../../assets/flower.webm" type="video/webm" />

        <source src="../../assets/flower.webm" type="video/mp4" />

        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </div>
</div>
